{:profiles
 {:Default
  {:default true
   ;;:alone   20
   ;;:delay   200
   ;;:held    100
   ;;:sim     100
   }}
 :applications
 {;; To obtain the app ID: `grep -A1 "CFBundleIdentifier" /Applications/The.app/Contents/Info.plist`
  ;; Or better osascript -e 'id of app "Google Chrome"'
  :Chrome   ["com.google.Chrome"]
  :Safari   ["com.apple.Safari"]
  :Finder   ["com.apple.finder"]
  :IntelliJ ["com.jetbrains.intellij"]
  :VSCode   ["com.microsoft.VSCode"]
  :Slack    ["com.tinyspeck.slackmacgap"]}

 :templates {:open-app         "open -a \"%s\""
             :type             "/opt/homebrew/bin/skhd -t \"%s\""
             :paste            "$HOME/.dotfiles/bin/sdot mac paste_text \"%s\""
             :paste-and-return "$HOME/.dotfiles/bin/sdot mac paste_text \"%s\" --returning"
             :open-in-chrome   "$HOME/.dotfiles/bin/sdot mac open_chrome_url \"%s\""
             :wait_seconds     "osascript -e 'delay %s'"}
 :main
 [;; ------------ Remaps ------------

  ;; ------------ Utils ------------

  ;; ------------ Launchers ------------
  {:des   "[launch] iTerm"
   :rules [[:!CTOspacebar [:open-app "iTerm"]]]}
  {:des   "[launch] Chrome"
   :rules [[:!CTOc [:open-app "Google Chrome"]]]}
  {:des   "[script] Show desktop folder"
   :rules [[:!CTOd "open \"$HOME/Desktop\""]]}
  {:des   "[launch] IntelliJ"
   :rules [[:!CTOi [:open-app "IntelliJ IDEA"]]]}
  {:des   "[launch] KeePassXC"
   :rules [[:!CTOk [:open-app "KeePassXC"]]]}
  {:des   "[launch] Slack"
   :rules [[:!CTOs [:open-app "Slack"]]]}
  {:des   "[launch] Visual Studio Code"
   :rules [[:!CTOv [:open-app "Visual Studio Code"]]]}

  ;; ------------ Application specific ------------

  ]

 ;; ------------ Cheatsheet ------------
 ;; ! stand for mandatory
 ;; # stand for optional
 ;; !! stand for mandatory command + control + optional + shift (hyper)
 ;; C T O S for left command control optional shift
 ;; Q W E R for right command control optional shift
 ;; F for fn
 ;; need to prefix C T O S F Q W E R with ! or #
 :cheatsheet
 {:!Ca        "command a"
  :!Ta        "control a"
  :!Oa        "option a"
  :!Sa        "shift a"
  :#Sa        "shift a"
  :!CTOa      "command control option a"
  :!Cspacebar "command space"
  :!Fa        "fn a"
  :##a        "keycode a optional any"
  :!!a        "mandatory hyper (control command option shift) a "}}